*{
    /* color: hotpink; */
    /* border: 5px solid black; */
}


body{
    background-color: aquamarine;
}


h1{
    color: blue;
}

.red-font{
    color: red;
}

#purp{
    color: purple;
}


/*
#header>p means select any p tag that is a direct child of #header


#header p means select any p tag that is a descendant of #header
*/


#header p{
    font-family: cursive;
    color: red;
    font-size: 24px;
}